# Salin ke .env lalu sesuaikan
DATABASE_URL="postgresql://racik:racikpassword@localhost:5432/racik?schema=public"
PORT=4000
# Dipakai untuk membentuk URL gambar bila gambar di-host sendiri (opsional)
BASE_URL="https://api-mp.wedison.tech"
